# Dependencies
node_modules/

# Production output
main.js.map
*.log

# Obsidian local plugin settings & runtime data
data.json

# System files
.DS_Store
Thumbs.db

# Environment & Local Secrets
.env
.env.local
*.secret
